######### Quartus ###################

## below are the quartus-generated allowed files
# .bsf
# .qsf
# .qpf


# folders
db
incremental_db
output_files
sof


# files
*.bak
*.cdf
*.done
*.jdi
*.rpt
*.pin
*.pof
*.qdf
*.qws
*.summary
*.smsg
*.sof

############# Modelsim ############
*.mpf
*.mti
*.sdo
*.sft
transcript
*.vo
*.vstf
*.wlf
*.xrf

#folder
work
simulation
modelsim

### Latex #########
*.aux
*.bbl
*.blg
*.gz
*.idx
*.ilg
*.ind
*.lof
*.log
*.lol
*.lot
*.nlo
*.out
*.toc
*.nlg
*.nls

########### Manual changes based on Project ############

# latex pdf file
FPGA-designs-with-Verilog-SystemVerilog.pdf

